p,li{
    color:black;
    line-height: 2;
    letter-spacing: 1px;
}
html {
    font-family: 'ZCOOL KuaiLe', serif;
    font-size: 20px;
    background-image: url("bkg.png");
    background-size: cover;
}
h1{
    font-size: 60px;
    text-align: center;
}
body{
    width: 1280px;
    margin:0 auto;
    background-color: white;
    padding: 0 20px 20px 20px;
    border: 2px solid black
    ;
}
img{
        display: block;
        margin: 0 auto;
}